@font-face {
  font-family: 'Raleway';
  src:
    url('../fonts/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/Raleway-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('../fonts/Roboto-Black.woff2') format('woff2'),
    url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-display: swap;
}

:root {
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-90: rgba(33, 150, 243, 0.9);
  --button-hover-bg-color: #188ce8;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --overlay-color: rgba(47, 48, 58, 0.8);
  --icon-link-color: #afb1b8;

  --shadow:
    0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  --transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --item-margin: 30px;
  --radius: 4px;
}

@keyframes logo-appear {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  background-color: var(--primary-white-color);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

abbr {
  text-decoration: none;
  cursor: help;
}

/* Utilities */

.list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Logo */

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo--accent {
  color: var(--accent-color);
}

/* Button */

.button {
  min-width: 200px;
  min-height: 50px;
  padding: 15px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  background-color: var(--accent-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: var(--radius);
  cursor: pointer;

  transition: background-color var(--transition-duration) var(--timing-function);
}

.button:hover,
.button:focus {
  background-color: var(--button-hover-bg-color);
}

/* Social networks */

.social-networks {
  display: inline-flex;
}

.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__link {
  display: flex;
  width: 44px;
  height: 44px;

  color: var(--icon-link-color);
  border-radius: 50%;

  transition:
    color var(--transition-duration) var(--timing-function),
    background-color var(--transition-duration) var(--timing-function);
}

.social-networks__link--theme-dark {
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.social-networks__link:hover,
.social-networks__link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.social-networks__icon {
  width: 20px;
  height: 20px;
  margin: auto;

  fill: currentColor;
}

/* Page header */

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container,
.page-header__nav {
  display: flex;
  align-items: center;
}

.page-header__logo {
  animation: logo-appear 1000ms var(--timing-function);
}

/* Site nav & Contacts */

.site-nav,
.contacts {
  display: flex;
}

.site-nav__link,
.contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transition-duration) var(--timing-function);
}

.site-nav {
  margin-left: 85px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding: 32px 0 31px;
  color: var(--title-text-color);
}

.site-nav__link::after {
  position: absolute;
  bottom: -1px;
  left: 0;

  content: '';
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform var(--transition-duration) var(--timing-function);
}

.contacts {
  margin-left: auto;
}

.contacts__link {
  display: flex;
  align-items: center;
}

.contacts__link:not(:last-child) {
  margin-right: 30px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-nav__link--active,
.site-nav__link:hover,
.site-nav__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.site-nav__link:hover::after,
.site-nav__link:focus::after,
.site-nav__link--active::after {
  transform: scaleX(1);
}

/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  min-height: 600px;
  padding: 40px 0;
  margin: 0 auto;

  background-color: var(--dark-bg-color);
  background-image:
    linear-gradient(var(--overlay-color), var(--overlay-color)),
    url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  max-width: 696px;
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  text-transform: uppercase;
  text-align: center;
}

/* Section */

.section {
  padding: 94px 0;
}

.section--no-padding-b {
  padding-bottom: 0;
}

.section--secondary {
  background-color: var(--secondary-bg-color);
}

.section__title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
  text-align: center;
}

/* Features */

.features-list {
  display: flex;
}

.features-list__item {
  flex-basis: calc((100% - 3 * var(--item-margin)) / 4);
}

.features-list__item::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: var(--item-margin);

  background-color: var(--secondary-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--radius);
}

.features-list__item--antenna::before {
  background-image: url('../images/features/antenna.svg');
}

.features-list__item--clock::before {
  background-image: url('../images/features/clock.svg');
}

.features-list__item--diagram::before {
  background-image: url('../images/features/diagram.svg');
}

.features-list__item--astronaut::before {
  background-image: url('../images/features/astronaut.svg');
}

.features-list__item:not(:last-child) {
  margin-right: var(--item-margin);
}

.features-list__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  text-transform: uppercase;
}

.features-list__text {
  line-height: 1.71;
}

/* Gallery */

.gallery-list {
  display: flex;
  justify-content: space-between;
}

.gallery-list__item {
  position: relative;
  flex-basis: calc((100% - 2 * var(--item-margin)) / 3);
}

.gallery-list__label {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  min-height: 70px;
  padding: 27px 24px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: var(--primary-white-color);
  text-transform: uppercase;
  text-align: center;

  background-color: var(--overlay-color);
}

/* Team */

.team-list {
  display: flex;
}

.team-list__item {
  position: relative;
  flex-basis: calc((100% - 3 * var(--item-margin)) / 4);

  background-color: var(--primary-white-color);
  box-shadow: var(--shadow);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  overflow: hidden;
}

.team-list__item:not(:last-child) {
  margin-right: var(--item-margin);
}

.team-list__scene {
  width: 270px;
  height: 260px;
  perspective: 600px;

  background-color: var(--icon-link-color);
}

.team-list__thumb {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;

  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1000ms var(--timing-function);
}

.team-list__scene:hover > .team-list__thumb {
  transform: translateX(-100%) rotateY(-180deg);
}

.team-list__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
}

.team-list__img--back {
  background-color: var(--accent-color);
  transform: rotateY(180deg);
}

.team-list__meta {
  padding: 30px 24px 24px;
  text-align: center;
}

.team-list__name,
.team-list__occupation {
  font-size: 16px;
  line-height: 1.19;
}

.team-list__name {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--title-text-color);
}

.team-list__occupation {
  margin-bottom: 16px;
}

/* Clients */

.clients-list {
  display: flex;
}

.clients-list__item {
  flex-basis: calc((100% - 5 * var(--item-margin)) / 6);
}

.clients-list__item:not(:last-child) {
  margin-right: var(--item-margin);
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;

  color: var(--icon-link-color);
  border: 1px solid currentColor;
  border-radius: var(--radius);

  transition: color var(--transition-duration) var(--timing-function);
}

.clients-list__link:hover,
.clients-list__link:focus {
  color: var(--accent-color);
}

.clients-list__icon {
  width: 106px;
  height: 60px;

  fill: currentColor;
}

/* Page footer */

.page-footer {
  padding: 60px 0;
  background-color: var(--dark-bg-color);
}

.page-footer__container {
  display: flex;
  align-items: baseline;
}

.page-footer__contacts {
  margin-right: 70px;
}

.page-footer__logo {
  color: var(--primary-white-color);
}

.page-footer__address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  font-style: normal;
}

.page-footer__link {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--transition-duration) var(--timing-function);
}

.page-footer__link--map {
  color: var(--primary-white-color);
}

.page-footer__link:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer__link:hover,
.page-footer__link:focus {
  color: var(--accent-color);
}

.page-footer__text {
  display: block;
  margin-bottom: 20px;

  line-height: 1.14;
  color: var(--primary-white-color);
  text-transform: uppercase;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.2);

  visibility: visible;
  opacity: 1;
  transition:
    visibility var(--transition-duration) var(--timing-function),
    opacity var(--transition-duration) var(--timing-function);
}

.backdrop--hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;

  background-color: var(--primary-white-color);
  box-shadow: var(--shadow);
  border-radius: var(--radius);

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) var(--timing-function);
}

.backdrop--hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;

  color: #000000;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: color var(--transition-duration) var(--timing-function);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  color: var(--accent-color);
}

.modal__close-icon {
  fill: currentColor;
}

/* Works */

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--item-margin) / -2);
}

.works-list__item {
  flex-basis: calc(100% / 3 - var(--item-margin));
  margin: calc(var(--item-margin) / 2);
}

/* Project card */

.project-card {
  position: relative;

  transition: box-shadow var(--transition-duration) var(--timing-function);
}

.project-card:has(:hover, :focus) {
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card__thumb {
  position: relative;
  overflow: hidden;
}

.project-card__descr {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: var(--accent-color-90);

  opacity: 0;
  transform: translateY(100%);
  transition:
    opacity var(--transition-duration) var(--timing-function),
    transform var(--transition-duration) var(--timing-function);
}

.project-card:has(:hover, :focus) .project-card__descr {
  opacity: 1;
  transform: translateY(0%);
}

.project-card__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project-card__title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-card__link::after {
  position: absolute;
  top: 0;
  left: 0;

  content: '';
  width: 100%;
  height: 100%;
}

.project-card__tag {
  font-size: 16px;
  line-height: 1.88;
}
